<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <!-- Navbar Section -->
    <nav class="navbar">
        <div class="navbar-container">
            <a href="#" class="navbar-logo">
                <img src="images/mudryk.png" alt="Profile Picture" class="profile-picture">
            </a>
            <ul class="navbar-menu">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/contact" class="nav-link">Contact</a></li>
                <li><a href="/todo" class="nav-link">Todo</a></li>
               
            </ul>
            <ul class="navbar-signout">
                <li><a href="/login" class="nav-link">
                        <i class="fas fa-sign-out-alt"></i> Sign Out
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- Main Content Section -->
    <div class="container">
        <h1>Contact Me Here.</h1>
        <form>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" class="form-control" id="phone" required pattern="[0-9]{10,13}" placeholder="Enter phone number">
            </div>
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" id="message" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

   
   <!-- Footer -->
    <footer class="footer">
        <p>©2024 DYok.</p>
    </footer>

    <!-- Link to External CSS -->
    <link rel="stylesheet" href="css/contact.css">
</body>
</html>