<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <!-- Path ke logo -->
            <img src="/images/mudryk.png" alt="Logo" class="logo">
            <h1 class="title">Login</h1>
            <p class="subtitle">Welcome to the jungle</p>
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Username" class="form-input" required>
                <input type="password" name="password" placeholder="Password" class="form-input" required>
                <p class="help-text">Submit button below <a href="#">Sugeng rawuh</a></p>
                <button type="submit" class="btn">Login</button>
                <p>Not have an account yet?<a href="/signup">disini</a>.</p>
            </form>
        </div>
    </div>
</body>
</html>