<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <!-- Path ke logo -->
            <img src="/images/mudryk.png" alt="Logo" class="logo">
            <h1 class="title">Sign Up</h1>
            <p class="subtitle">Dear god, if today i lose my hope, pls remind me that your plans are better than my dreams</p>
            <form action="/signup" method="POST">
                <input type="text" name="username" placeholder="Username" class="form-input" required>
                <input type="password" name="password" placeholder="Password" class="form-input" required>
                <p class="help-text">Sign-up here <a href="#">Lorem ipsum</a></p>
                <button type="submit" class="btn">Sign up</button>
                <p>Already have an account? Login <a href="/login">disini</a>.</p>
            </form>
        </div>
    </div>
</body>
</html>